@media (min-width: 768px) {
  .container {
    width: 80vh;
    height: 80vh;
  }

  .container .row {
    width: 80vh;
    height: 20vh;
  }

  .container .row .cell {
    width: 20vh;
    height: 20vh;
  }

  .cell .input-content {
    width: 20vh;
    height: 4vh;
  }

  img {
    width: 20vh;
    height: 16vh;
  }
}

@media (max-width: 768px) {
  .container {
    width: 80vw;
    height: 80vw;
  }

  .container .row {
    width: 80vw;
    height: 20vw;
  }

  .container .row .cell {
    width: 20vw;
    height: 20vw;
  }

  .cell .input-content {
    width: 20vw;
    height: 4vw;
  }

  img {
    width: 20vw;
    height: 16vw;
  }
}

body {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.5em;
  text-align: center;

  margin-bottom: 0;
}

.subtitle {
  font-size: 1.2em;
  text-align: center;

  margin-top: 0;
  margin-bottom: 10px;
}

.container {
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;

  display: table;
  align-self: center;
}

.container .row {
  margin: 0;
  padding: 0;

  display: table-row;
}

.container .row .cell {
  margin: 0;
  border: 1px solid #ccc;

  display: table-cell;
  vertical-align: middle;
  text-align: center;

  font-size: larger;
  font-weight: bold;
}

.cell .input-title {
  background-color: var(--color-bg);
  color: var(--color-text);

  width: 100%;
  height: 20%;
  padding: 0;
  border: none;

  text-align: center;
}

.cell img {
  border: none;
}

.cell .cell-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cell .input-content {
  background-color: var(--color-bg);
  color: var(--color-text);

  padding: 0;
  margin: 0;
  border: none;

  text-align: center;
  font-size: small;
}

.cell .input-file {
  visibility: hidden;
  width: 0px;
  height: 0px;

  margin: 0;
  padding: 0;
  border: none;
}